.dashboard-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    margin-top: 10rem;
}
.card-dashboard{
    border: 1px solid rgb(46, 114, 0);
    padding: 3px;
    width: 40%;
    height: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.card-dashboard > h4 {
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(0, 117, 227);
    color: white;
}
.card-dashboard-chart{
    padding: 10px;
    width: 80%;
    height: 400px;
}
.card-dashboard-chart > button {
    padding: 10px 20px;
    border: 1px solid rgb(53, 134, 0);
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgb(53, 134, 0);
    color: white;
    border-radius: 5px;
}
.card-dashboard > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.filter-date{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.filter-date > button {
    padding: 6px 20px;
    font-size: 14px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    cursor: pointer;
}
.custom-datepicker {
    background-color: #ffffff;
    color: #000000;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }